
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    body {
        height: 100vh;
        width: 100vw;
        
    



        .header {
            height: 100%;
            width: 100%;
            top: 0;
            z-index: 1;

        }

        .header img {
            height: 100%;
            width: 100%;
            top: 0;
            z-index: 1;
            img{ filter: brightness(100%); }
                
        
        
        }

        .nossos-servicos {
            margin: 30px;
            top: 0; 
            position: fixed;
            color: white;
            z-index: 0;
        
        }

        .voltar a {
            color: white;
            font-size: 22px;
            cursor: pointer;
            text-decoration: none;

        }

        .voltar a:hover {
            bottom: 10%;
            color: #c51111;
            font-size: 30px;
            transition: 0.5s ease-in-out;
        }

        .mascara-escura {
            height: 100%;
            width: 100%;
            background: linear-gradient(109deg, rgba(18, 20, 23, 0.99) 15%, rgba(27, 30, 39, 0.7) 50%, rgba(46, 54, 69, 0.99) 85%);
            position: fixed;
            top: 0;

        }

        .description2 {
            text-align: left;
            
        }

    }
    * {
            margin: 0;
            padding: 0;


        .slider {
            display: block;
            height: 293px;
            width: 600px;
            margin: auto;
            margin-top: 20px;
            position: relative;
            
            
        

        
        }

        .slider li {
            list-style: none;
            position: absolute;
        }

        .slider img {
        
            height: 100%;
            width: 100%;
            vertical-align: top;
            z-index: 10;
            
            
        }

        .slider input {
            display: none;
            margin: 50px;
            height: 100%;
            width: 100%;
        }

        .slider label {
            background-color: #000;
            bottom: 10px;
            cursor: pointer;
            display: block;
            height: 10px;
            position: absolute;
            width: 10px;
            z-index: 10;
        }

        .slider {
            display: block;
            height: 190px;
            width: 350px;
            margin: auto;
            margin-top: 0%;
            position: relative;
            
            
        }

        .slider li {
            list-style: none;
            position: absolute;
        }

        .slider img {
            
            height: 100%;
            width: 100%;
            vertical-align: 30%;
            
        }

        .slider input {
            display: none;
        }

        .slider label {
            background-color: #000;
            bottom: 11px;
            cursor: pointer;
            display: block;
            height: 11px;
            position: absolute;
            width: 11px;
            z-index: 10;
            margin-left: 1%;
            margin: auto;
            
            

        }

        .slider li:nth-child(1) label {
            left: 10px;
        }

        .slider li:nth-child(2) label {
            left: 30px;
        }

        .slider li:nth-child(3) label {
            left: 50px;
        }

        .slider li:nth-child(4) label {
            left: 70px;
        }

        .slider li:nth-child(5) label {
            left: 90px;
        }

        .slider li:nth-child(6) label {
            left: 110px;
        }

        .slider img {
            opacity: 0;
            visibility: hidden;
            margin-left: 1%;
            margin-right:auto;
            

        
        }

        .slider li input:checked ~ img {
            opacity: 1;
            visibility: visible;
            z-index: 10;
        
            
        }
    }

















